<div class="header-scroll-trigger"></div>
<div class="container header-container ">
   <div class="container-inner">
      <nav class="header">
         <a aria-label="Skillds" class="logo" href="#" style="color: black;font-size: 28px;font-weight: 600;">Skillds</a>      
         <a class="button light header-login" style="visibility:hidden;" href="../static/preview.Skillds.com/">Login</a>
         <a class="button header-signup" href="/about" data-show="signup">Subscribe</a><button class="hamburger" data-toggle=".header"><span class="hamburger-inner"></span><span class="visually-hidden">Toggle menu</span></button>
         <div class="menu">
            <a class="home" data-toggle=".header" href="http://www.skillds.com">Home</a>
            <a class='about' data-toggle='.header' href='/about'>About</a>
            <a class='Blog active' data-toggle='.header' href='/blogs'>Blogs</a>
            <a class='jobs' data-toggle='.header' href='about.html#hiring'  style="display: none;>Jobs<span class="jobs-count"></span></a>
         </div>
      </nav>
   </div>
</div>