{% include 'bootstrap_include.html' %}

<div class="container">
   <div class="row">
        <div class="col-sm-6 col-lg-3 py-2">
         <div class="card">
            <img src="../static/images/amazon_job.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Quality Assurance Engineer</h5>
              <p class="card-text">5+ years of QA experience.<br>Bachelor's degree and/or Master's degree in Computer Science or equivalent.</p>
              <a href="https://www.amazon.jobs/en/jobs/898445/quality-assurance-engineer" class="btn btn-primary">Apply</a>
            </div>
            <div class="card-footer">
              <p class="text-muted">Last updated 3 mins ago</p>
            </div>
         </div>
      </div>
        <div class="col-sm-6 col-lg-3 py-2">
         <div class="card">
            <img src="../static/images/amazon_job.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Senior Category Manager</h5>
              <p class="card-text">5+ years of experience preffered.<br>Excellent written and verbal communication skills.<br>Strong numerical and analytical aptitude.</p>
              <a href="https://www.amazon.jobs/en/jobs/1291751/senior-category-manager-musical-instruments" class="btn btn-primary">Apply</a>
            </div>
            <div class="card-footer">
              <p class="text-muted">Last updated 3 mins ago</p>
            </div>
         </div>
      </div>
        <div class="col-sm-6 col-lg-3 py-2">
         <div class="card">
            <img src="../static/images/amazon_job.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Business Analyst</h5>
              <p class="card-text">2 - 5 years of work experience with at least 2 years of experience working in a similar role.<br>Exposure to data mining tools like SQL ,SAS, SPSS</p>
              <a href="https://www.amazon.jobs/en/jobs/1290065/business-analyst" class="btn btn-primary">Apply</a>
            </div>
            <div class="card-footer">
              <p class="text-muted">Last updated 3 mins ago</p>
            </div>
         </div>
      </div>
        <div class="col-sm-6 col-lg-3 py-2">
         <div class="card">
            <img src="../static/images/amazon_job.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Software Development Engineer</h5>
              <p class="card-text">3+ years' experience with Service Oriented Architecture.<br>Java, C++, or C# including object-oriented design.</p>
              <a href="https://www.amazon.jobs/en/jobs/1286732/software-development-engineer" class="btn btn-primary">Apply</a>
            </div>
            <div class="card-footer">
              <p class="text-muted">Last updated 3 mins ago</p>
            </div>
         </div>
      </div>
      </div>
   <div class="row" style="padding-top: 16px;">
        <div class="col-sm-6 col-lg-3 py-2">
         <div class="card">
            <img src="../static/images/flippy.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Senior Architect</h5>
              <p class="card-text">Problem Solving, Systems Design & Architecture.<br>Scaling, ER Modelling, Exposure to highly scalable systems & tech stacks.<br>Good communication & inter-personal skills</p>
              <a href="https://www.flipkartcareers.com/#!/job-view/senior-architect-bangalore-karnataka-2020081111104766" class="btn btn-primary">Apply</a>
            </div>
            <div class="card-footer">
              <p class="text-muted">Last updated 3 mins ago</p>
            </div>
         </div>
      </div>
        <div class="col-sm-6 col-lg-3 py-2">
         <div class="card">
            <img src="../static/images/flippy.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Senior Engineering Manager</h5>
              <p class="card-text">12+ years experience in building cutting edge products.<br>Build, lead, develop and provide hands-on leadership for top-notch engineers & EMs.</p>
              <a href="https://www.flipkartcareers.com/#!/job-view/senior-engineering-manager-bangalore-karnataka-2020072310295046" class="btn btn-primary">Apply</a>
            </div>
            <div class="card-footer">
              <p class="text-muted">Last updated 3 mins ago</p>
            </div>
         </div>
      </div>
        <div class="col-sm-6 col-lg-3 py-2">
         <div class="card">
            <img src="../static/images/flippy.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Software Development Engineer III</h5>
              <p class="card-text">3+ years' experience with Service Oriented Architecture.<br>Java, C++, or C# including object-oriented design.<br>Good Problem Solving Skills</p>
              <a href="https://www.flipkartcareers.com/#!/job-view/software-development-engineer-iii-bangalore-karnataka-2020080615215545" class="btn btn-primary">Apply</a>
            </div>
            <div class="card-footer">
              <p class="text-muted">Last updated 3 mins ago</p>
            </div>
         </div>
      </div>
        <div class="col-sm-6 col-lg-3 py-2">
         <div class="card">
            <img src="../static/images/flippy.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Software Development Engineer IV</h5>
              <p class="card-text">5+ years' experience with Service Oriented Architecture.<br>Java, C++, or C# including object-oriented design.<br>Good Problem Solving & management Skills.</p>
              <a href="https://www.flipkartcareers.com/#!/job-view/software-development-engineer-iv-bangalore-karnataka-2020080321000814" class="btn btn-primary">Apply</a>
            </div>
            <div class="card-footer">
              <p class="text-muted">Last updated 3 mins ago</p>
            </div>
         </div>
      </div>
      </div>
</div>